# -*- coding: utf-8 -*-
# vim: set ai si sta et sw=4 sts=4 fenc=utf-8 nobomb eol ff=unix ft=conf:

!TAGS/
!tags/
$RECYCLE.BIN/
**/.terraform/*
**/CVS/*
*.7z
*.bak
*.bz2
*.bzip
*.bzip2
*.ca
*.cab
*.cachefile
*.chi
*.chs.h
*.class
*.code-workspace
*.compiled
*.coverage
*.coveragexml
*.crt
*.csr
*.d64fsl
*.dSYM
*.dSYM.zip
*.dbg
*.dbmdl
*.dbproj.schemaview
*.deb
*.def
*.der
*.dex
*.dfsl
*.diff
*.dmg
*.egg
*.evcd
*.fsdb
*.gem
*.gho
*.gz
*.gzip
*.iso
*.jar
*.jfm
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jmconfig
*.kdb
*.kdev4
*.ko
*.la
*.launch
*.lcov
*.ldf
*.lib
*.lisp-temp
*.lnk
*.log
*.lzma
*.msi
*.msix
*.msm
*.msp
*.m~
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.or
*.org
*.ori
*.orig
*.os
*.out
*.p12
*.p64fsl
*.patch
*.pbxuser
*.pch
*.pdb
*.pem
*.perspectivev3
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.ppk
*.ppu
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.rar
*.rej
*.rel
*.res
*.resources
*.retry
*.rnd
*.rpm
*.rptproj.bak
*.rptproj.rsuser
*.rsj
*.rsp
*.rst
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.slxc
*.smime
*.snupkg
*.so
*.so.*
*.src.rock
*.ssleay
*.stTheme.cache
*.stackdump
*.tar
*.tfstate
*.tfstate.*
*.tfvars
*.tgz
*.tmp
*.txz
*.vcd
*.vpd
*.xar
*.xpi
*.xz
*.zip
*_override.tf
*_override.tf.json
*~
*~.nib
.*-version
.*.kate-swp
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TAGS
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.apt_generated/
.apt_generated_test/
.autotools
.axoCover/*
.buildlog
.buildpath
.builds
.bundle/*
.bzr/
.c9
.c9revisions
.cache
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.directory
.fseventsd
.fuse_hidden*
.hg/
.hgsigs
.hgsubstate
.hgtags
.history
.idea/
.ionide/
.kdev4/
.kitchen.local.yml
.kitchen/
.lib/
.loadpath
.localhistory/
.metadata
.mfractor/
.nb-gradle/
.netrwhist
.nfs*
.svn/
.swp.*
.tags
.target
.tern-project
.texlipse
.vagrant
.vs/
.vscode/*
.worksheet
.~lock.*#
/*.gcno
/.emacs.desktop
/.emacs.desktop.lock
/.tgitconfig
/CVS/*
/aclocal.m4
/ar-lib
/auto/
/autoscan-*.log
/autoscan.log
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/cookbooks
/depcomp
/elpa/
/eshell/history
/eshell/lastdir
/install-sh
/ltmain.sh
/mdate-sh
/min
/missing
/network-security.data
/py-compile
/server/
/stamp-h1
/test-driver
/texinfo.tex
/ylwrap
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup of *.doc*
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
ClientBin/
DVEfiles/
GPATH
GRTAGS
GSYMS
GTAGS
Icon[]
Makefile
Makefile.in
MigrationBackup/
Network Trash Folder
TAGS
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_compareTemp
_deps
_notes
_pkginfo.txt
artifacts/
auto-save-list
autom4te.cache
backup/
bh_unicode_properties.cache
bin/
bin/*
bld/
build/
classes/
cmake_install.cmake
codegen/
compile_commands.json
config.codekit
config.codekit3
configs/
crash.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
csrc/
ehthumbs.db
ehthumbs_vista.db
flycheck_*.el
gtags.files
healthchecksdb
helpsearch*/
install_manifest.txt
ipch/
javadoc/
lib/
lib_managed/
local.properties
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mono_crash.*
nCrunchTemp_*
nbbuild/
nbdist/
node_modules/
nunit-*.xml
octave-workspace
orleans.codegen.cs
oscrypto-ca-bundle.crt
override.tf
override.tf.json
paket-files/
project.fragment.lock.json
project.lock.json
project/boot/
project/plugins/project/
publish/
rcf/
sccprj/
secring.*
sftp-config.json
simv
simv.daidir/
simv.db.dir/
simv.vdb/
slprj/
src_managed/
tags
target/
temp/
test-results/
tmp/
tmtags
tramp
ucli.key
urgReport/
vc_hdrs.h
