# -*- coding: utf-8; mode: gitignore; -*-
# vim: set ai si sta et sw=4 sts=4 fenc=utf-8 nobomb eol ff=unix ft=conf:

* text=auto

*.7z binary
*.DOC diff=astextplain
*.DOCX diff=astextplain
*.DOT diff=astextplain
*.PDF diff=astextplain
*.RTF diff=astextplain
*.a binary
*.adoc text eol=lf encoding=utf-8
*.app binary
*.bash text eol=lf encoding=utf-8
*.bat text eol=crlf encoding=utf-8
*.bibtex text diff=bibtex eol=lf encoding=utf-8
*.c text diff=c eol=lf encoding=utf-8
*.c++ text diff=cpp eol=lf encoding=utf-8
*.cc text diff=cpp eol=lf encoding=utf-8
*.class binary
*.cmd text eol=crlf encoding=utf-8
*.cpp text diff=cpp eol=lf encoding=utf-8
*.css text diff=css eol=lf encoding=utf-8
*.csv text eol=lf encoding=utf-8
*.cxx text diff=cpp eol=lf encoding=utf-8
*.df text eol=lf encoding=utf-8
*.dll binary
*.doc diff=astextplain
*.docx diff=astextplain
*.dot diff=astextplain
*.dylib binary
*.ear binary
*.eps binary
*.exe binary
*.fig binary
*.fish text eol=lf encoding=utf-8
*.gch binary
*.gif binary
*.go -text diff=golang eol=lf encoding=utf-8
*.gradle text diff=java eol=lf encoding=utf-8
*.gradle.kts text diff=java eol=lf encoding=utf-8
*.gz binary
*.h text diff=c eol=lf encoding=utf-8
*.h++ text diff=cpp eol=lf encoding=utf-8
*.hh text diff=cpp eol=lf encoding=utf-8
*.hpp text diff=cpp eol=lf encoding=utf-8
*.htm text diff=html eol=lf encoding=utf-8
*.html text diff=html eol=lf encoding=utf-8
*.ico binary
*.jar binary
*.java text diff=java eol=lf encoding=utf-8
*.jpeg binary
*.jpg binary
*.js text eol=lf encoding=utf-8
*.json text eol=lf encoding=utf-8
*.jsp text eol=lf encoding=utf-8
*.jspf text eol=lf encoding=utf-8
*.jspx text eol=lf encoding=utf-8
*.la binary
*.lai binary
*.lib binary
*.lo binary
*.lua text eol=lf encoding=utf-8
*.m text eol=lf encoding=utf-8
*.mat binary
*.md text eol=lf encoding=utf-8
*.mdl binary
*.mdlp binary
*.mex* binary
*.mlappinstall binary
*.mlpkginstall binary
*.mltbx binary
*.mn binary
*.mu text diff=matlab eol=lf encoding=utf-8
*.mustache text eol=lf encoding=utf-8
*.o binary
*.obj binary
*.out binary
*.p binary
*.patch -text eol=lf encoding=utf-8
*.pbxproj merge=union
*.pch binary
*.pdf diff=astextplain
*.pl text diff=perl eol=lf encoding=utf-8
*.pm text diff=perl eol=lf encoding=utf-8
*.png binary
*.properties text eol=lf encoding=utf-8
*.ps1 text eol=crlf encoding=utf-8
*.rtf diff=astextplain
*.sh text eol=lf encoding=utf-8
*.sldd binary
*.slo binary
*.slx binary
*.slxp binary
*.so binary
*.sql text eol=lf encoding=utf-8
*.svg text eol=lf encoding=utf-8
*.swift text diff=swift eol=lf encoding=utf-8
*.tab text eol=lf encoding=utf-8
*.tag text eol=lf encoding=utf-8
*.tagx text eol=lf encoding=utf-8
*.tar binary
*.tex text diff=tex eol=lf encoding=utf-8
*.textile text eol=lf encoding=utf-8
*.tif binary
*.tiff binary
*.tld text eol=lf encoding=utf-8
*.toml text eol=lf encoding=utf-8
*.tsv text eol=lf encoding=utf-8
*.txt text eol=lf encoding=utf-8
*.war binary
*.xml text eol=lf encoding=utf-8
*.yaml text eol=lf encoding=utf-8
*.yml text eol=lf encoding=utf-8
*.zip binary
.gitattributes export-ignore text eol=lf encoding=utf-8
.gitignore export-ignore text eol=lf encoding=utf-8
