# -*- coding: utf-8; mode: gitignore; -*-
# vim: set ai si sta et sw=4 sts=4 fenc=utf-8 nobomb eol ff=unix ft=conf:

!**/[Pp]ackages/build/
!*.svg  # comment out if you don't need vector files
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!Build/
!TAGS/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!tags/
$RECYCLE.BIN/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/.terraform/*
**/CVS/*
**/[Pp]ackages/*
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.7z
*.DotSettings.user
*.FASL
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.aab
*.aar
*.ap_
*.apk
*.app
*.app/
*.appx
*.appxbundle
*.appxupload
*.aps
*.asv
*.autosave
*.aux
*.azurePubxml
*.bak
*.beam
*.bim.layout
*.bim_*.settings
*.binlog
*.box
*.bridgesupport
*.bs
*.btm.cs
*.btp.cs
*.build.csdef
*.bz2
*.bzip
*.bzip2
*.ca
*.cab
*.cachefile
*.chi
*.chs.h
*.class
*.code-workspace
*.compiled
*.cover
*.coverage
*.coveragexml
*.crt
*.csr
*.d64fsl
*.dSYM
*.dSYM.zip
*.dbg
*.dbmdl
*.dbproj.schemaview
*.deb
*.def
*.der
*.dex
*.dfsl
*.diff
*.dll
*.dmg
*.dotCover
*.dx32fsl
*.dx64fsl
*.dylib
*.dyn_hi
*.dyn_o
*.e2e
*.egg
*.egg-info/
*.elc
*.elf
*.esproj
*.evcd
*.eventlog
*.exe
*.exe~
*.exp
*.ez
*.fasl
*.fsdb
*.fx32fsl
*.fx64fsl
*.gch
*.gem
*.gho
*.gpState
*.gz
*.gzip
*.hex
*.hi
*.hie
*.hmap
*.hp
*.i*86
*.ilk
*.iml
*.iobj
*.ipa
*.ipdb
*.iso
*.jar
*.jfm
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jmconfig
*.kdb
*.kdev4
*.ko
*.la
*.launch
*.lcov
*.ldf
*.lib
*.lisp-temp
*.lnk
*.lo
*.log
*.lps
*.lrs
*.lrt
*.lx32fsl
*.lx64fsl
*.lzma
*.manifest
*.mdf
*.meta
*.mex*
*.mlappinstall
*.mltbx
*.mm.*
*.mno
*.mo
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msix
*.msm
*.msp
*.m~
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.or
*.org
*.ori
*.orig
*.os
*.out
*.p12
*.p64fsl
*.patch
*.pbxuser
*.pch
*.pdb
*.pem
*.perspectivev3
*.pfsl
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.plg
*.pm.tdy
*.pot
*.ppk
*.ppu
*.prof
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py[cod]
*.pyc
*.pydevproject
*.rar
*.rbc
*.rdb
*.rdl.data
*.rej
*.rel
*.res
*.resources
*.retry
*.rnd
*.rpm
*.rptproj.bak
*.rptproj.rsuser
*.rsj
*.rsp
*.rst
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.slxc
*.smime
*.snupkg
*.so
*.so.*
*.spec
*.src.rock
*.ssleay
*.stTheme.cache
*.stackdump
*.sublime-project
*.sublime-workspace
*.suo
*.svclog
*.swp
*.sx32fsl
*.sx64fsl
*.tar
*.tar.gz
*.test
*.tfstate
*.tfstate.*
*.tfvars
*.tgz
*.tlb
*.tlh
*.tli
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tmproj
*.tmproject
*.tsbuildinfo
*.tss
*.txz
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.vcd
*.vpd
*.vpj
*.vpw
*.vpwhist
*.vpwhistu
*.vsp
*.vspscc
*.vspx
*.vssscc
*.vtg
*.wx32fsl
*.wx64fsl
*.x86_64
*.xar
*.xccheckout
*.xcscmblueprint
*.xlk
*.xpi
*.xsd.cs
*.xz
*.zip
*.~vsd*
*_archive
*_flymake.*
*_h.h
*_i.c
*_override.tf
*_override.tf.json
*_p.c
*_wpftmp.csproj
*~
*~.nib
.*-version
.*.kate-swp
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.HTF/
.LSOverride
.Python
.Spotlight-V100
.TAGS
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.accio/
.apdisk
.apt_generated/
.apt_generated_test/
.autotools
.axoCover/*
.build/
.buildlog
.buildpath
.builds
.bundle/*
.byebug_history
.bzr/
.c9
.c9revisions
.cabal-sandbox/
.cache
.cache-main
.cache/
.cask/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cproject
.cr/personal
.cxx/
.dat*
.data/
.dir-locals.el
.directory
.dmypy.json
.dropbox
.dropbox.attr
.dropbox.cache
.dynamodb/
.eggs/
.elixir_ls/
.env
.env.test
.eslintcache
.externalNativeBuild
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.fusebox/
.ghc.environment.*
.gradle/
.grunt
.hg/
.hgsigs
.hgsubstate
.hgtags
.history
.hpc
.hsenv
.hypothesis/
.idea/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.installed.cfg
.ionide/
.ipynb_checkpoints
.kdev4/
.kitchen.local.yml
.kitchen/
.last_cover_stats
.lib/
.loadpath
.localhistory/
.lock-wscript
.metadata
.mfractor/
.mypy_cache/
.navigation/
.nb-gradle/
.netrwhist
.next
.nfs*
.ninja_deps
.ninja_log
.node_repl_history
.nox/
.npm
.ntvs_analysis.dat
.nuxt
.nyc_output
.org-id-locations
.otto/
.paket/paket.exe
.precomp
.project
.projectile
.pyre/
.pytest_cache/
.python-version
.recommenders
.recommenders/
.repl_history
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.rvmrc
.sass-cache/
.scala_dependencies
.scrapy
.serverless/
.settings/
.springBeans
.spyderproject
.spyproject
.stack-work/
.svn/
.swp.*
.tags
.target
.tern-port
.tern-project
.texlipse
.tox/
.vagrant
.venv
.vs/
.vscode-test
.vscode/*
.vuepress/dist
.webassets-cache
.worksheet
.yarn-integrity
.~lock.*#
/*.gcno
/*.gz
/*.zip
/.build/
/.bundle/
/.config
/.emacs.desktop
/.emacs.desktop.lock
/.fetch
/.tgitconfig
/.yardoc/
/CVS/*
/InstalledFiles
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
/Makefile
/Makefile.old
/_build
/_eumm/
/_yardoc/
/aclocal.m4
/ar-lib
/auto/
/autoscan-*.log
/autoscan.log
/blib/
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/config/*.secret.exs
/configure
/configure.scan
/cookbooks
/cover
/coverage/
/depcomp
/deps
/doc
/doc/
/elpa/
/eshell/history
/eshell/lastdir
/install-sh
/lib/bundler/man/
/ltmain.sh
/mdate-sh
/min
/missing
/network-security.data
/pkg/
/pm_to_blib
/py-compile
/rdoc/
/server/
/site
/spec/examples.txt
/spec/reports/
/stamp-h1
/test-driver
/test/tmp/
/test/version_tmp/
/texinfo.tex
/tmp/
/vendor/
/vendor/bundle
/wpcs/*
/ylwrap
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup of *.doc*
Backup*/
BenchmarkDotNet.Artifacts/
Build
Build.bat
BundleArtifacts/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Carthage/Build/
ClientBin/
DVEfiles/
Dependencies/
DerivedData/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
EIFGENs
ENV/
FakesAssemblies/
GPATH
GRTAGS
GSYMS
GTAGS
Generated\ Files/
Generated_Code/
GitHub.sublime-settings
Icon[]
MANIFEST
Makefile
Makefile.in
Manifest.toml
MigrationBackup/
Network Trash Folder
OpenCover/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
PublishScripts/
ServiceFabricBackup/
Session.vim
Sessionx.vim
StyleCopReport.xml
TAGS
Temporary Items
TestResult.xml
Testing
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.XML
UpgradeLog*.htm
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
__pypackages__/
_build/
_compareTemp
_deps
_notes
_pkginfo.txt
artifacts/
auto-save-list
autom4te.cache
backup/
bh_unicode_properties.cache
bin/
bin/*
bld/
bower_components
build-iPhoneOS/
build-iPhoneSimulator/
build/
build/Release
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
captures/
celerybeat-schedule
celerybeat.pid
classes/
cmake_install.cmake
codegen/
compile_commands.json
composer.phar
config.codekit
config.codekit3
configs/
cover_db/
coverage
coverage.xml
crash.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
csrc/
csx/
cwallet.sso.lck
db.sqlite3
db.sqlite3-journal
deploy/
deps/build.log
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
develop-eggs/
dist
dist-*
dist/
dist/*
dlldata.c
dmypy.json
docs/_build/
docs/build/
docs/site/
downloads/
dw_php_codehinting.config
dwsync.xml
ecf/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
erl_crash.dump
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/screenshots/**/*.png
fastlane/test_output
flycheck_*.el
freeline.py
freeline/
freeline_project_description.json
gen/
gtags.files
healthchecksdb
helpsearch*/
htmlcov/
iOSInjectionProject/
inc/
install_manifest.txt
instance/
ipch/
ipython_config.py
javadoc/
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib/.precomp
lib64/
lib_managed/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
local_settings.py
logs
luac.out
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mono_crash.*
nCrunchTemp_*
nbbuild/
nbdist/
node_modules/
nosetests.xml
npm-debug.log*
nunit-*.xml
nytprof.out
octave-workspace
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
override.tf
override.tf.json
packer_cache/
paket-files/
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
playground.xcworkspace
profile_default/
proguard/
project.fragment.lock.json
project.lock.json
project/boot/
project/plugins/project/
publish/
rcf/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sccprj/
sdist/
secring.*
sftp-config.json
share/python-wheels/
simv
simv.daidir/
simv.db.dir/
simv.vdb/
slprj/
src_managed/
tags
target/
temp/
test-results/
timeline.xctimeline
tmp/
tmtags
tramp
typings/
ucli.key
urgReport/
var/
vc_hdrs.h
vcs.xml
venv.bak/
venv/
wheels/
x64/
x86/
xcuserdata/
yarn-debug.log*
yarn-error.log*
~$*
~$*.doc*
~$*.ppt*
~$*.xls*
